.selected_{
    background-color:white;
    font-size: 40px;
    text-align: center;
}

.selected_minutes .minutes{
    background-color:yellow;
    font-size: 40px;
    text-align: center;
}

.selected_seconds .seconds{
    background-color:yellow;
    font-size: 40px;
    text-align: center;
}

.selected_tenths .tenths{
    background-color:yellow;
    font-size: 40px;
    text-align: center;
}

.minutes, .seconds, .tenths {
    text-align: center;
    width:75px;
    height:100%;
    margin:3px;
    border-radius: 10px;
    border: 1px solid gray;
}

.btn_digit{
    text-align: center;
    font-size: 40px ;
    margin:0px;
    height:75%;
    width:75%;  
    border-collapse: collapse; 
    box-sizing: border-box;
}

.tab_mobile .dijitTab {
    height:30px; 
    font-size: 20px!important;
    border-radius:unset!important;
    background:white!important;    
}

span.tabLabel {
    vertical-align: middle!important; 
}

.tab_mobile .dijitTabChecked, .multibutton_selected {
    background: #1e3055!important;
    color: white!important;   
}

.slotbar_toolbar_standard {
    background: white!important;
    
    font-size:14px; 
}

.slotbar_logout .slotbar_cell {
    background: white!important;
    font-size:18px;
}
.slotbar_entry .slotbar_toolbar_side_top {
    font-weight:bold;
    height: 15px;

}

.th_view_toolbar.slotbar {
    display:None; 
}

.multibutton_container, .multibutton {
    height:auto;
    background-color:white;
    border-radius:unset!important;    
}